{% extends "page.j2" %}

{% block moreheader %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
<script type="text/javascript" src="{{media_url('js/leafletmap.js')}}"></script>
{% endblock %}

{% block content %}

<div class="ink-grid slab-400">

  <header class="clearfix vertical-padding">
    <div class="logo xlarge-push-left large-push-left">
      <h1>{{resource.meta.name}}, {{resource.meta.lad}}, {{resource.meta.postcode}}</h1>
      <p>Note this data may have errors or omissions and is intended purely for teaching purposes. These practices may have moved, closed, or merged since this data was obtained.</p>
    </div>

    <nav class="ink-navigation xlarge-push-right large-push-right half-top-space">
      <ul class="menu horizontal black">
    <li><a href="/catchments">Practices Map</a></li>
      <li><a href="/catchments/list.html">Practices List</a></li>
      </ul>
    </nav>
    
  </header>
  <div class="column-group vertical-space">
       
    <div class="all-50">
      <h2>Catchment Map (<a href="popmap.html">Explore</a>)</h2>
      <img src="./popmap.png" />
    </div>
    <div class="all-50">
      <h2>1km around {{resource.meta.postcode}}</h2>
      <div style="height: 400px" id="map"></div>
      {% block notes %}
      {% endblock %}
    </div>
    
  </div>
  
  <h2>Population Classification</h2>

  <div class="column-group vertical-space">
    <div class="all-50">
      <h3>Socio-economic Class (<a href="http://datashine.org.uk/#table=QS302EW&col=QS302EW0002&ramp=RdYlGn&layers=BTTT&zoom=13&lon={{resource.meta.long}}&lat={{resource.meta.lat}}" target="_blank">Census Map</a>)</h3>
      <img src="./sec.png" />
    </div>
    <div class="all-50">
      <h3>Output Area Class 2011 (<a href="https://maps.cdrc.ac.uk/#/geodemographics/toac/toac_2011/BTTTFFT/13/{{resource.meta.long}}/{{resource.meta.lat}}/" target="_blank">More CDRC Data</a>)</h3>
      <img src="./oa.png" />
      
    </div>
  </div>
  

  <h2>Indicators (high numbers/red colours are worse) (<a href="http://dclgapps.communities.gov.uk/imd/idmap.html" target="_blank">English IMD Browser</a>)</h2>

  <div class="ink-tabs top vertical-space" data-prevent-url-change="true">
    <ul class="tabs-nav">
{% for indicator in site.meta.indicators %}
      <li title="{{indicator.full}}"><a class="tabs-tab" href="#indicator-{{loop.index}}">{{indicator.short}}</a></li>
{% endfor %}
    </ul>
{% for indicator in resource.meta.indicators %}
    <div id="indicator-{{loop.index}}" class="tabs-content">
      <div class="ink-grid">
       <div class="column-group">
         <div class="all-50">
<h3>{{indicator.full}}</h3>
           <img src="{{indicator.slug}}-patients.png" />
<p>The map shows the indicator value of all the census <abbr title="Lower Super Output Areas">LSOAs</abbr> in the catchment. The chart shows the expected value of the indicator for a typical 100 patients, so the colour scale may be  different to the map.</p>
         </div>
         <div class="all-50">
           <img src="{{indicator.slug}}-map.png" />
         </div>
       </div>
      </div>
    </div>
 {% endfor %}
  </div>

  <h2>Prescribing</h2>

  <div class="column-group vertical-space">
    <div class="all-100">
      Information on prescribing patterns at this practice is available from the OpenPrescribing <a href="https://openprescribing.net/practice/{{resource.meta.GPCode}}/" target="_blank">Practice  Dashboard</a>
    </div>
  </div>
  
  
</div>
<script type="text/javascript">
initmap({{resource.meta.lat}}, {{resource.meta.long}}, "{{resource.meta.postcode}}");
</script>
{% endblock %}
