<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{resource.meta.title}}</title>
        <meta name="description" content="">
        <meta name="author" content="ink, cookbook, recipes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) here  -->
        <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
        <!-- load Ink's CSS -->
        <link rel="stylesheet" type="text/css" href="{{ media_url('css/ink-flex.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ media_url('css/font-awesome.min.css') }}">

        <!-- load Ink's CSS for IE8 -->
        <!--[if lt IE 9 ]>
            <link rel="stylesheet" href="{{ media_url('css/ink-ie.min.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->

        <!-- test browser flexbox support and load legacy grid if unsupported -->
        <script type="text/javascript" src="{{ media_url('js/modernizr.js') }}"></script>
        <script type="text/javascript">
            Modernizr.load({
              test: Modernizr.flexbox,
              nope : '{{ media_url('css/ink-legacy.min.css')}}'
            });
        </script>

       <!-- load Ink's javascript files -->
        <script type="text/javascript" src="{{ media_url('js/holder.js')}}"></script>
        <script type="text/javascript" src="{{ media_url('js/ink-all.min.js')}}"></script>
        <script type="text/javascript" src="{{ media_url('js/autoload.js')}}"></script>

	<style>
        body {
                background: #ededed;
            }

            header {
                border-bottom: 1px solid #cecece;
            }

            footer {
                background: #ccc;
            }

        </style>
{% block moreheader %}
{% endblock %}
	
    </head>

    <body>
{% block content %}
{% endblock %}

    </body>
</html>
