{% extends "page.j2" %}
{% block content %}

<div class="ink-grid slab-400">

  <header class="clearfix vertical-padding">
  <div class="logo xlarge-push-left large-push-left">
    <h1>Practice List</h1>
    <p>Note this data may have errors or omissions and is intended purely for teaching purposes. These practices may have moved, closed, or merged since this data was obtained.</p>
  </div>

  <nav class="ink-navigation xlarge-push-right large-push-right half-top-space">
    <ul class="menu horizontal black">
     <li><a href="/catchments">Practices Map</a></li>
      <li><a href="/catchments/list.html">Practices List</a></li>
    </ul>
  </nav>

  </header>
  <div class="column-group vertical-space">
       
    <div class="all-100">
      <ul>
{% for pid in node.meta.practices %}
<li><a href="{{pid.id}}">{{pid.name}}, {{pid.laname}}, {{pid.postcode}}</a></li>
  {% endfor %}
  </ul>
    </div>

  </div>

</div>
{% endblock %}
