{% extends "page.j2" %}

{% block moreheader %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
   <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{media_url('js/leafletmap.js')}}"></script>
{% endblock %}
{% block content %}

<div class="ink-grid slab-400">

  <header class="clearfix vertical-padding">
  <div class="logo xlarge-push-left large-push-left">
    <h1>Practice Map</h1>
    <p>Note this data may have errors or omissions and is intended purely for teaching purposes. These practices may have moved, closed, or merged since this data was obtained.</p>
  </div>

  <nav class="ink-navigation xlarge-push-right large-push-right half-top-space">
    <ul class="menu horizontal black">
      <li><a href="/catchments">Practices Map</a></li>
      <li><a href="/catchments/list.html">Practices List</a></li>
    </ul>
  </nav>

  </header>
  <div class="column-group">
       
    <div class="all-100">
<div style="height: 600px" id="map"></div>
    </div>

  </div>

</div>
	<script type="text/javascript">	
addgpmap("map.geojson");
</script>
{% endblock %}
